* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body {
  height: 100%;
  width: 100%;
}

.parent{
    height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 30px;
}

.card{
    height: 330px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #dadada;
    padding: 2px;
}
.top button{
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 5px;
    gap: 3px;
    background-color: transparent;
    color:#dadada
}

.center{
    background-color: red;
}

.center h3{
   font-size: 17px;
   font-weight:500;
}

.center h3 span{
    font-size: 9px;
    font-weight: 400;
    color: #8b8b8b;
}

.center h2{
    font-size: 20px;
}

.center .tag{
    display:flex;
    margin-top:10px;
    gap:5px;

}

.center .tag h4{
    font-size: 14px;
    background-color: #dadada;
    color:#111;
    font-weight: 500;
    padding: 3px 6px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #b1b1b1;
    padding-top: 15px;
}